<!-- <app-stacks-block-overview-graph
  #blockGraph
  [isLoading]="isLoading$ | async"
  [resolution]="75"
  [blockLimit]="stateService.blockVSize"
  [orientation]="timeLtr ? 'right' : 'left'"
  [flip]="true"
  (txClickEvent)="onTxClick($event)"
></app-stacks-block-overview-graph> -->
<app-stacks-block-overview-graph
  #blockGraph
  [isLoading]="isLoading$ | async"
  [resolution]="75"
  [blockLimit]="stateService.blockVSize"
  [orientation]="timeLtr ? 'right' : 'left'"
  [flip]="true"
  (txClickEvent)="onTxClick($event)"
></app-stacks-block-overview-graph>